@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat:400,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}
a{
	transition: all.3s ease;
	
}

body{
	transition: all.3s ease;
}
p,span,button,pre{
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
}
small{
	font-family: Fira Sans;
	font-style: normal;
	font-size: 14px;
}
h1,h2,h3,h4{
	font-family: Montserrat;
	font-style: normal;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 46px;
}
h3{
	font-size: 40px;
}

.txt--center{
	text-align:center;
}

/*Menu hide*/
.modal--menu{
	display: none;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    bottom: 0;
    top: 88px;
}
.menu--modal--content{
	margin-top: 300px;
	text-align: center;
}

.menu--modal--content > ul > li {
	display: inline-block;
	margin-right: 30px;
	transition: all.1s ease-in-out;
}
.menu--modal--content > ul > li:hover{
	border-bottom:2px solid #000;
}
.menu--modal--content > ul > li > a {
	font-size: 36px;
	font-family: Fira Sans;
	font-weight: bold;
	color:#000;
}
/*Header*/
header{
	background: #fff;
	position: sticky;
	top: 0;
	padding: 20px 0px;
	z-index: 9999;
}
.container{
	max-width:1240px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.logo > a{
	color:#000;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 36px;
}
.btn--defualt{
	border-radius: 50px;
	background: #03ACC1;
	color:#fff;
	font-weight: bold;
	font-size: 16px;
	border:0;
	padding: 10px 25px;
	cursor: pointer;
	transition: all.2s ease;
}
.btn--defualt:hover{
	background: #03a1b5;
}
.top--header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu--top { 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.menu--element{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-left: 50px;
}
.menu--element > p{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}

/* Section start*/

#start--block {
	    padding-bottom: 150px;
	    padding-top: 150px;
    background: url(../img/bg--start.png) right no-repeat;
}
.content--start > h1 {
	line-height: 110%;
}
.content--start > p {
	font-size: 26px;
	line-height: 120%;
	margin-top: 14px;
	margin-bottom: 43px;
}
/*Section Our Portfolio*/

#our--portfolio{
	padding-top: 60px;
}
#our--portfolio > h2 {
	padding-bottom: 60px;
}
.download--portfolio{
	margin-top: 60px;
	margin-bottom: 80px;
}
.work{
	margin-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.img--title> img {
	width: 100%;
	height: 406px;
}

.port--worker{
	width: 50%;
	position: relative;
	height: 406px;
}
.show--about--port{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom:0;
	background:#131418;
}
.show--about--port h3 {
	margin-top: 60px;
	color: #03ACC1;
	font-weight: 600;
}
.show--about--port span,.show--about--port small,.show--about--port p{
	color:#fff;
}
.show--about--port p{
	font-weight: 400;
	margin-top: 20px;
}

.container--for--port{
    max-width: 650px;
	margin: 0 auto;
	padding-right: 25px;
	padding-left: 25px;
	position: relative;
}
.about--this--site{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 170px;
}
.about--this--site > a {
	text-decoration: underline;
	color:#03ACC1;
}
/*Our Team*/

#our--team{
	background: #131418;
	padding-top: 70px;
	padding-bottom: 80px;
}
#our--team  h2 {
	font-weight: 800;
	color:#fff;
	text-align:center;
	margin-bottom: 58px;
}
.team{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align:center;
} 

.person{
    padding: 32px 90px 65px 90px;
	border: 1px solid rgba(255, 255, 255, 0.33);
	border-radius: 5px;
	transition: all.3s ease;
}
.person:nth-child(3){
	margin-right: 0 !important;
}
.person:hover{
	border: 1px solid #FFFFFF;
}
.img--person > img{
	border-radius: 50%;
    width: 150px;
    height: 150px;
}
.about--person  {
	 margin-top: 25px;
}
.about--person > .name--person {
	font-weight: bold;
	font-size: 24px;
	color:#fff;
	margin-bottom: 8px;
}
.about--person > .work--person{
	font-weight: normal;
	color:#fff;
	font-size: 18px;
	margin-bottom: 44px;
}

.social--contact >a {
	color:#03ACC1;
	font-size: 25px;
	margin-right: 35px;
	transition: all.3s ease;
}
.social--contact >a:hover{
	opacity: .7;
}
.social--contact >a:nth-child(3){
	margin-right: 0 !important;
}

/* Benefits block */
#benefits {
	padding-top: 70px;
	padding-bottom: 80px;
}
#benefits h2 {
	text-align:center;
	margin-bottom: 60px;
}
.benefits--about{
	max-width: 680px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.benefits--element{
    display: flex;
    /* margin-right: 46px; */
    margin: 20px auto;
    max-width: 300px;
}
.img--benefits{
	margin-right: 25px;
}
.benefits--this--title{
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: bold;
}
.benefits--this--text{
	font-size: 17px;
}


/*Testimonials*/


#testimonials{
	background: #131418;
	padding-top: 70px;
	padding-bottom: 80px;
}
#testimonials  h2 {
	color:#fff;
	text-align: center;
	margin-bottom: 60px;
}
.star--testimonial{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.testimonial--people{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*Price*/
#price{
	padding-top: 70px;
	padding-bottom: 80px;

}
#price h2{
	text-align:center;
	margin-bottom: 60px;
}
.price--block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	text-align:center;
	justify-content: space-around;

}
.content--price--block:nth-child(1){
	padding: 40px 30px!important;
}
.content--price--block:nth-child(3){
	padding: 40px !important;
}
.content--price--block{
	padding: 40px 60px 40px 60px;
	border-radius: 5px;
	border: 4px solid rgba(3, 172, 193, 0.21);
	transition: all.3s ease;
}
.content--price--block:hover{
	border: 4px solid #03ACC1;
}
.title--price{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 32px;
}
.cost--this--block{
	margin-top: 35px;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 18px;
}
.question--often{
	margin-top: 70px;
}
.question > a {
	color:#03ACC1;
}
.question > a:hover{
	opacity: .8;
}
.question{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 300px;
	margin: 40px auto;
}
.icon--close_open{
	margin-right: 25px;

}

.title--question{
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}
.answere--question{
	margin-top: 8px;
	font-weight: normal;
	font-size: 16px;
}
.answere--question > a {
	color:#03ACC1;
}

.answere--question{
	display: none;
}
.rotate-open{
	animation: rotateopen 0.5s ease-in-out forwards;	
}
.rotate-close{
	animation: rotateclose 0.5s ease-in-out forwards;	
}
@keyframes rotateclose {
    from { transform: rotate( 0deg); }
   to { transform: rotate(135deg); }
}
@keyframes rotateopen {
    from { transform: rotate( 135deg); }
   to { transform: rotate(0deg); }
}


/* Contact */

#contact{
	background: rgb(19,20,24);
	padding-top: 70px;
	padding-bottom: 80px;
}
.idea--contact{
	margin-right: 40px;
}
.idea--contact h2 {
	color:#fff;
	margin-bottom: 18px;
}
.idea--contact p {
	color:#fff;
	font-weight: normal;
	font-size: 18px;
}
.contact--content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.contact--content form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.inp--contact >  input:focus{
	border-bottom:1px solid #D8D8D8;
}
.inp--contact{
	text-align: center;
}
.inp--contact >  input{
	display: inline-block;
	transition: all.3s ease;
	background: inherit;
	border-bottom: 1px solid #6d6d6d;
	padding: 20px 10px;
	font-family: 'Fira Sans',sans-serif;
	font-weight: normal;
	color: #858585;
	border-top:0;
	border-left: 0;
	border-right:0;
	width: 40.5%;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 15px;
	font-size: 14px;
}

.custom--btn{
	transition: all.3s ease;
	border-radius: 5px;
	border: 3px solid #03ACC1;
	padding: 18px 65px;
	font-weight: bold;
	letter-spacing: .5px;
	background: inherit;
	cursor: pointer;
	color:#fff;
	font-family: 'IBM Plex Sans', sans-serif;
	text-transform:uppercase;
	margin-top: 11px;
}
.custom--btn:hover{
	background:#03ACC1;
}
.send--msg--inp{

	color:#fff;
	text-align: center;
	margin: 30px auto;
	max-width: 400px;
}
.offer{
	cursor: pointer;
	color:#03ACC1;
}
.offer:hover{
	text-decoration:underline;
}


/* Copy footer*/

#copy--team{
	border-top: 1px solid  #555555;
	padding-top: 50px;
	padding-bottom: 50px;
	background:#131418;
}
.info--about--team{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fast--info > a{
	color:#fff;
}
.fast--info > a > i {
	margin-right: 10px;
	font-size: 20px;
}
.email{
	margin-left: 40px;
}
 .copy > p {

	color:#fff;
}
.copy > p ,.our--vk{
	font-family: Montserrat;
	font-weight: normal;
	display: inline-block;
}
.our--vk i {
	    vertical-align: middle;
}
.our--vk:hover{
	opacity: .7;
}
.our--vk{
	cursor: pointer;
    margin-left: 40px;
    font-size: 22px;
    background: #fff;
    border-radius: 46px;
    padding: 5px 6px;
   }
.our--vk:visited{
	color:inherit;
}











/*


::-webkit-scrollbar {
       width: 6px;
}
 
::-webkit-scrollbar-track {
	background: #333;
}
 ::-webkit-scrollbar-thumb:hover{
 	background:#ffffff6e;
 }
::-webkit-scrollbar-thumb {
     background-color: #6d6d6d;
            border-radius: 5px;
}*/