@media only screen and (max-width: 1200px){
	.stage--element{
		align-items: center;
	}
	.number--is--stage{
		font-size: 70px;
	}
	.stage{
		text-align: center;
		align-items: center;
	}
	.img--arrow--stage{
		display: none;
	}

	.about--stage{
		margin: 0 0 0 10px !important;
	}	

}
@media only screen and (max-width: 992px){
	.menu--modal--content > ul{
		flex-direction: column;
	}
	.menu--modal--content > ul > li{
		margin-right: 0 ;
		margin-top: 20px;
	}
	.contact--content{
		text-align: center;
		flex-direction: column;
	}
	.idea--contact{
		margin-right: 0;
	}

	.our--vk{
		margin-left: 15px;
	}
	.send--msg--inp > button{
		margin: 20px auto 0 auto;
	}
	#start--block{
		flex-direction: column;
		align-items: unset;
	}
	.content--start{
		margin-top: 45px;
	}
	.about--block{
		margin: 35px 0px!important;
		align-items: center;
		flex-direction: column!important;
		text-align: center!important;

	}
	.img--title--about--block{
		margin-left: 0!important;
		margin-right: 0!important;
	}
	.about--in--txt{
		margin-top: 20px;
	}

}

@media only screen and (max-width: 790px){
	h2{
		font-size: 36px ;
	}
	.txt--intro p{
		font-size: 20px;
	}
	.stage--element:nth-child(1){order:1;}
	.stage--element:nth-child(2){order:2;}
	.stage--element:nth-child(3){order:3;}
	.stage--element:nth-child(4){order:6;}
	.stage--element:nth-child(5){order:5;}
	.stage--element:nth-child(6){order:4;}
	.about--in--txt p{
		font-size: 20px;
	}

	.benefits--this--text{
		font-size: 18px ;
	}
	.title--testimonial > p{
		font-size: 22px;
	}
	.title--question{
		font-size: 20px;
	}
	.btn--callback{
		display: none;
	}
	.copy >p, .copy > a{
		display: block;
	}
	.info--about--team{
		flex-direction: column;
	}
	.short--about--blog > p , .show--detail--blog > a{
		font-size: 20px;
	}
	.our--vk{
		display: block;
		width: 25px;
		margin: 10px auto;
	}
	.copy > p{
		margin-top: 15px;
	}
	.title--price , .cost--this--block{
		font-size: 20px;
	}
	.inp--contact{
		margin-top: 20px;
	}
	.menu--element{
		margin-left: 0;
	}
	.logo > a{
		font-size: 40px;
	}
	.stage{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}
@media only screen and (max-width: 576px){
	.block--inps{
		width:auto;
	}
	.inp--contact{
		flex-direction: column;
	}
	.menu--element > p{
		display: none;
	}
	.menu--modal--content > ul > li > a{
		font-size: 26px;
	}
	
	.about--person--testimonail > span:nth-child(2){
		margin-left: 0;
	}

	.fast--info{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
	.email{
		margin-top: 10px;
		margin-left: 0;
	}
	.logo > a{
		font-size: 40px;
	}
	.blog--element{
		max-width: 270px;
	}

	.title--img--blog > img{
	    width: 270px;
   		height: 230px;
	}
	.short--about--blog > p{
		font-size: 18px;
	}
	.show--detail--blog > a{
		font-size: 18px;
	}
	.img--arrow{
		display: none;
	}
	.back{
		margin-top: 50px;
	}

}
@media only screen and (max-width: 380px){
	.img--title{
		height: 150px;
	}
	.btn--defualt{
		font-size: 1.1em;
	}
	.img--title--about--block > img{
		width: 135px;
	}
	.content--price--block:nth-child(1) {
	    padding: 40px 55px;
	}
	.links--or--watchNow > a {
	    font-size: 20px;
	}
	.about--this--site{
		padding: 15px;
	}
	.benefits--element{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img--benefits{
		margin-right: 0;
	}
	.logo > a{
		font-size: 32px;
	}
	.benefits--this--text{
		font-size: 16px;
	}
	.copy > p{
		margin-bottom: 5px;
	}
	.benefits--this--title{
		font-size: 20px;
	}
	.about--this--benefits{
		margin-top: 20px;
	}
	.idea--contact p{
		font-size: 16px;
	}
	.about--in--txt p{
		font-size: 16px;
	}
	p{
		font-size: 18px;
	}
	.txt--testimonial > p{
		font-size: 14px;
	}
	.person--testimonial{
		padding: 0;
	}
	.name--this--site > p{
		font-size: 16px;
	}
	.testimonial--people{
		text-align: center;
	}
	.title--question {
	    font-size: 18px;
	}
	.answere--question{
		font-size: 14px;
	}
	.container{
		padding: 0 10px;
	}
	.number--is--stage {
	    font-size: 45px;
	}
	.block--inps{
		padding: 0;
	}
	.stage--element{
		flex-direction: column;
		text-align: center;
		margin: 30px auto 0 auto;		
	}
	.about--stage{
		font-size: 16px;
		margin-left: 0;
	}
	.title--img--blog > img {
	    width: 240px;
	    height: 210px;
	}
	.copy{
		text-align: center;
	}
	.blog--element{
		width: 100%;
	}

}
