@media only screen and (max-width: 992px){
	#start--block {
		height: 60vh!important;
	}
	.content--start{
		margin-top: 100px !important;
	}
	.menu--modal--content > ul{
		flex-direction: column;
	}
	.menu--modal--content > ul > li{
		margin-right: 0 !important;
		margin-top: 20px;
	}
	.contact--content{
		text-align: center;
		flex-direction: column;
	}
	.idea--contact{
		margin-right: 0 !important;
	}
	.content--inner--sliders h1{
		font-size: 64px !important;
	}
	.our--vk{
		margin-left: 15px !important;
	}
}

@media only screen and (max-width: 790px){
	p{
		font-size: 18px !important;
	}
	h2{
		font-size: 36px !important;
	}
	.about--person > .name--person{
		font-size: 22px !important;
	}
	.benefits--this--text{
		font-size: 16px !important;
	}
	.title--testimonial > p{
		font-size: 22px!important;
	}
	.title--question{
		font-size: 18px !important;
	}
	.btn--callback{
		display: none!important;
	}
	.info--about--team{
		flex-direction: column;
	}
	.our--vk{
		display: block!important;
		width: 25px;
		margin: 10px auto;
	}
	.copy > p{
		margin-top: 15px;
	}
	.title--price , .cost--this--block{
		font-size: 20px!important;
	}
	.inp--contact{
		margin-top: 20px;
	}
	.menu--element{
		margin-left: 0 !important;
	}
}
@media only screen and (max-width: 576px){
	.block--inps{
		width:auto !important;
		flex-direction: column !important;
	}
	.menu--element > p{
		display: none !important;
	}
	.menu--modal--content > ul > li > a{
		font-size: 26px !important;
	}
	p{
		font-size: 16px !important;
	}
	.about--person--testimonail > span:nth-child(2){
		margin-left: 0 !important;
	}
	.content--inner--sliders h1 {
		font-size: 46px !important;
	}
	#start--block {
		height: 50vh!important;
	}

}