*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
a{
	-webkit-transition: all.6s ease;
	   -moz-transition: all.6s ease;
	    -ms-transition: all.6s ease;
	     -o-transition: all.6s ease;
	        transition: all.6s ease;
}
h1 {
	font-size: 38px;
font-family: Montserrat,sans-serif;
}
body,html{
	-webkit-transition: all.5s ease;
	   -moz-transition: all.5s ease;
	    -ms-transition: all.5s ease;
	     -o-transition: all.5s ease;
	        transition: all.5s ease;
	height: 100%;
	width: 100%;
}
.wrapper{
	width: 100%;
	height: 100%;
	background-image:url(../img/header/bg-header.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	max-width: 100%;
	max-height: 100%;
}
.wrapper-content{
	width: 1170px;
	margin: 0 auto;
}
.wrap-header{
	height: 100vh;
}

.logo{
	padding-top: 67px;
}
.logo img {
	float: left;
}
.logo a {
	padding-top: 10px;
	float: right;
	font-size: 30px;
	color: #000;
}
.text__header{
	text-align: center;
	padding-top: 300px;
}
.text__header h1 {
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 40px;
    font-family: Montserrat,sans-serif;
    color: #505050;
}
.btn__header{
	margin-top: 150px;
}
.btn__header button {
	border: 2px solid #787777;
	background: #f1efef;
	font-size: 22px;
	 color: #3c3c3c;
	text-transform: uppercase;
	font-family: Montserrat,sans-serif;
	padding: 19px 60px 19px 60px;
	cursor: pointer;
}
.btn__header button:hover{
	color: #fff;
	-webkit-transition: all.6s ease;
	   -moz-transition: all.6s ease;
	    -ms-transition: all.6s ease;
	     -o-transition: all.6s ease;
	        transition: all.6s ease;
	background: #787777;
}
.wrap__about{
	height: 100vh;
	padding-bottom: 168px;
	padding-top: 125px;
	background: #f8fafa;

}
.text__about h1{
	font-size: 38px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.text__about p{
	font-size: 21px;
	margin-top: 15px;
    color: #5E5F5F;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.about_us{
	height: 100vh;
	margin-top: 148px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.about__left{
	width: 500px;
	
	line-height:35px;
}
.about__left h1 {
	font-size: 23px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 12px;
}
.about__left p {
	color: #666767;
		font-family: 'Raleway', sans-serif;
	font-size: 19px;
}
.wrap__work{
	height: 100vh;
	padding:128px 0 128px 0;
	text-align: center;
}
.wrap__work h1 {
	text-transform: uppercase;
	font-size: 38px;
		font-family: 'Montserrat', sans-serif;

}

.wrap__work p {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	color: #666767;
}
.worked{
	margin-top: 123px;
}
.worked img {
	    margin: 3px 1px 4px 6px;
}
.wrap__services{
	height: 150vh;
	text-align: center;
	padding-top: 125px;
	background: #f9fbfb;
	padding-bottom: 125px;
}
.wrap__services p {
		text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	color: #666767;
}
.services{
	text-align: left;
	margin-top: 120px;
	display: flex;	
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;	
}
.services img  {
	margin: 4px 7px ;
}
.services img:first-child{
	background-color: #70f5eb;
}
.services h1  {
	text-transform: uppercase;
	font-size: 20px;
}
.services p{
	text-transform: none;
	color: #666767;
	font-size: 16px;
	line-height: 30px;
    font-family: 'Raleway', sans-serif;
}

.ser-1  a{
	position: relative;	
	left: 	-120px;
}







/* .ser-2{
	    top: -454px;
    left: 666px;
    width: 300px;
    position: relative;
}
.ser-1{
	    position: relative;
    left: 0;
    width: 300px;
}
.ser-1 a {
	    position: relative;
    top: -77px;
    left: 70px;
}
.ser-3{
	    position: relative;
    top: -456px;
}
.ser-4{
	position: relative;
    float: right;
    top: -839px;
    right: 19px;
} *//* 
.ser-1{
	float: left;
}
.ser-2{
	float: right;
}
.ser-3{
	float: left;
}
.ser-4{
	float: right;
}
.ser-5{
	float: left;
}
.ser-6{
	float: right;
} */