* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
a{
	transition: all.6s ease;
	color: #000;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	height: 100%;
}
.header{
	background: url(../img/header.png)no-repeat center top;
	  -moz-background-size: 100% auto; 
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto; 
    background-size: 100% auto; 
	height: 90vh;
}
.wrapper-content{
	margin: 0 auto;
	width:1170px;
}
.logo{
	width: 150px;
	padding-top: 42px;
}
.nav {
	top:-17px;
position: relative;
}
.nav ul>li{
	display: inline-block;
	margin-left: 22px;
	float: right;
}
.nav ul>li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.nav ul>li a:hover{
	padding-bottom: 10px;
	border-bottom: 2px solid #008ed6;
}
.text__header{
	margin-top: 115px;
	width:475px;
	line-height: 25px
}
.text__header h2 {
	color:#0777b3;
	text-transform: uppercase;
	font-size: 18px;
}
.text__header h1 {
	text-transform: uppercase;
	color:#fff;
	margin-top: 30px;
	line-height: 35px
}
.text__header p{
	line-height: 24px;
	color:#999999;
	margin-top: 37px;
}


.btn__header{
	margin-top: 80px;
}
.btn-1 button{
	cursor: pointer;	
	color: #fff;
	border: 1px solid #454449;
	background: inherit;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;
}
.btn-1 button:hover{
	transition: all.5s ease;
	background: #008ed6;
	border: 1px solid #008ed6;
}

.btn-2 button{
	cursor: pointer;	
	color: #fff;
	border: 1px solid #454449;
	background: inherit;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;
	margin-left: 20px;
}
.btn-2 button:hover{
	transition: all.5s ease;
	background: #008ed6;
	border: 1px solid #008ed6;
}
.wrap__feature{
	padding-top: 60px;
	height: 100%;
	background: #fff;
	text-align: center;
}
.wrap__feature p{
	color:#008ed6;
	font-weight: 600;
	text-transform: uppercase;
}
.wrap__feature h1 {
	margin-top: 20px;
	text-transform: uppercase;
}
.line{
	width: 44px;
	background: #008ed6;
	margin: 0 auto;
	margin-top: 23px;
	height: 3px;
}
.content-feature{
	margin-top: 65px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.features{
	width: 236px;
}
.features h2{
	margin-top: 25px;
	font-weight: 500;
}
.features p {
	font-weight: 500;
	text-transform: lowercase;
	color: #b4b4b4;
	line-height: 27px;
	margin-top: 20px;
}
.bottom__wrap-fetures{
	text-align: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 129px;
}

.feature__beautiful{
	width: 470px;
	margin-left: 116px;
}
.feature__beautiful h2{
	font-size: 18px;
	font-weight: 600;
	color:  #008ed6;
	text-transform: uppercase;
}
.line-2 {
	width: 44px;
	height: 3px;
	background: #008ed6;
	margin-top: 32px;
}
.feature__beautiful p {
	margin-top: 25px;
	color:#b4b4b4;
	line-height: 27px;
	text-transform: none;
}

.Ig-S li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.Ig-S li > p {
	color:#000;
}
.Ig-S li > img {
	margin-top: 31px;
	margin-right: 8px;
	width: 15px;
	height: 15px;
}
.wrap__customize{
	background: #f2f2f2;
	height: 100%;
}

.customize{
	padding-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 50px;
}

.into_cust{
	padding-top: 100px;
}
.into_cust h2 {
		font-size: 18px;
	font-weight: 600;
	color:  #008ed6;
	text-transform: uppercase;
}
.into_cust h1{
	margin-top: 20px;
	text-transform: uppercase;
}
.line-customize{
	width: 44px;
	height: 3px;
	background: #008ed6;
	margin-top: 25px;
}
.into_cust p {
		font-weight: 500;
	text-transform: none;
	color: #b4b4b4;
	line-height: 27px;
	margin-top: 20px;
}
.plan h2{
	text-align: center;
			font-size: 18px;
	font-weight: 600;
	color:  #008ed6;
	text-transform: uppercase;
}
.plan h1{
	text-align: center;
		margin-top: 20px;
	text-transform: uppercase;
		color: #fff;
}
.wrap__plan{
	padding-top: 65px;
	background: url(../img/Pros.png)no-repeat center top;
	  -moz-background-size: 100% auto; 
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto; 
    background-size: 100% auto; 
	height: 100%;
}
.comments{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 95px;
	justify-content: space-between;
	padding-bottom: 135px;
}
.comment p{
	color: #fff;
	font-size: 20px;
}
.comment:first-child{
	margin-right: 200px;
}
.comment img {
	margin-top: 20px;
}
.comment span {
	color:#fff;
}


.s1 {
	position: relative;
	left: 5px;
	top:-30px;
	
}
.s2{
	position: relative;
	left: 70px;
	top:-25px;
}
.pagination {
	text-align: center;
	
}

.pagination a {
	margin-left: 20px;
}

.pagination > .touch img{
	width:15px;
	height: 15px;
}
.wrap__like{
	padding: 68px 0 68px 0;
	background: #15141a;
}

.like{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.btn-like button:first-child{
	cursor: pointer;	
	color: #fff;
	border: 1px solid #454449;
	background: inherit;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.btn-like  button:last-child{
	font-weight: 600;
	text-transform: uppercase;
cursor: pointer;	
	color: #fff;
	border: 1px solid #454449;
	background: inherit;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;

}

.btn-like button:hover{
	transition: all.5s ease;
	background: #008ed6;
	border: 1px solid #008ed6;
}
.like  h1 {
	font-size: 40px;
	color:#fff;
}
.like h1> span {
	font-size:40px;
	font-weight: 500;
	color: #828285;
}
.wrap__plans_2{
	height: 100%;
	padding-top: 120px;
	text-align: center;
	padding-bottom: 60px;
}
.wrap__plans_2 h2 {
		text-align: center;
			font-size: 18px;
	font-weight: 600;
	color:  #008ed6;
	text-transform: uppercase;
}


.wrap__plans_2 h1{
		text-align: center;
		margin-top: 20px;
	text-transform: uppercase;
}
.plans_2{
	padding-top: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	
}
.plans_content{
	border: 1px solid #e0e0e0;
	width:270px;
	height: 470px;
	border-radius: 0px 0px 5px 5px;
}
.plans_content_3{
	border: 1px solid #e0e0e0;
	width:270px;
	height: 470px;
	border-radius: 0px 0px 5px 5px;
}
.plans_content h1 {
	border-bottom: 1px solid  #e0e0e0;
	padding-bottom: 20px;
	
}.plans_content_3 h1 {
	border-bottom: 1px solid  #e0e0e0;
	padding-bottom: 20px;
	color:#008ed6;
}
.plans_content span {
	padding-top: 20px;
	display: block;
		border-bottom: 1px solid  #e0e0e0;
	padding-bottom: 20px;
}.plans_content_3 span {
	padding-top: 20px;
	display: block;
	background: #008ed6;
	color:#fff;
		border-bottom: 1px solid  #e0e0e0;
	padding-bottom: 20px;
}
.plans_content span>b {
	font-size: 40px;
}.plans_content_3 span>b {
	font-size: 40px;
}
.plans_content span>sup {
	font-size: 24px;
}.plans_content_3 span>sup {
	font-size: 24px;
}
.plans_content span>p{
	color:#adadad;
	padding: 0;
}.plans_content_3 span>p{
	color:#fafafa;
	padding: 0;
}
.plans_content p {
	color:#adadad;
	padding:54px 26px 54px 26px;
}.plans_content_3 p {
	color:#adadad;
	padding:54px 26px 54px 26px;
}
.lacinia {
	font-weight: 600;
	color:#008ed6;
}
.btn-plans button {
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;	
	color: #008ed6;
	border: 1px solid #e0e0e0;
	background: inherit;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;
}
.btn-plans button:hover{
	transition: all.5s ease;
	background: #008ed6;
	border: 1px solid #008ed6;
	color:#fff;
}.btn-plans_3 button {
		font-weight: 600;
	text-transform: uppercase;
cursor: pointer;	
	color: #fff;
	border: 1px solid #e0e0e0;
	background:  #008ed6;
	border-radius: 5px;
	font-weight: 600;
	padding: 20px 33px 17px 33px;
}
.btn-plans_3 button:hover{
	transition: all.5s ease;
	background: inherit;
	border: 1px solid #008ed6;
	color: #008ed6;
}
.active-1 {
	color:#008ed6;
}
.plans_2 >.active {
	color:#fff;
	background: #008ed6;
}
.wrap__contact{
	background: #ededed;
	padding-top: 60px;
}
.wrap__contact h2 {
		text-align: center;
			font-size: 18px;
	font-weight: 600;
	color:  #008ed6;
	text-transform: uppercase;
}
.wrap__contact h1 {
		text-align: center;
		margin-top: 20px;
	text-transform: uppercase;
}
.contact{
	padding-top: 56px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	padding-bottom: 68px;
}
.form-contact{
	margin: 0 auto;
	position: relative;
	bottom: -80px;
	background: #15141a;
	width:771px;
	height: 300px;
	padding: 60px 85px 60px 85px;
}

form input {
	color: #fff;
	outline: 0;
	border: 1px solid #444348;
	background: inherit;
	margin-top: 20px;
	border-radius: 5px;
	padding: 18px 238px 18px 15px;
	font-size: 14px;
	font-weight: 600;
}
form textarea{
	padding-top: 5px;
	padding-left: 7px;
	border-radius: 5px;
	margin-top: 20px;
		font-size: 14px;
	font-weight: 600;
	outline: 0;
	color:#fff;
	border: 1px solid #444348;
	background: inherit;
	width: 300px;
	float: right;
	height: 195px;
	resize:none
}
form button {
	background: inherit;
	padding: 21px 34px 21px 34px;
	margin-top: 20px;
	border: 1px solid #454449;
	color: #fff;
	font-weight: 600;
	border-radius: 6px;
	cursor: pointer;
	float: right;
}
form button:hover{
	border: 1px solid #008ed6;
	background: #008ed6;
	transition: all.5s ease;
}
.wrap__maps{
	background: url(../img/bg-bottom.png);
	background-repeat: no-repeat;
}
footer{
	background: #15141a;
	padding: 54px 0 42px 0;
	text-align: center;
}
.social i{
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	color:#444348;
}
.social a > .fa-twitter{
	color: #008ed6;
}
.social i:hover{
	opacity: 0.6;
}
.copy{
	margin-top: 20px;
}
.copy p {
	color:#444348;
	text-transform: uppercase;
	font-weight: 600;
}
.wrap__maps img{
	width: 100%;
}
@media screen and (max-width:1112px){
	.wrapper-content{
		width:900px;
	}
	.header{
		height: 100%;
		width:100%;
		    padding-bottom: 30px;
		    -moz-background-size: none;
    -webkit-background-size: none;
    -o-background-size: none;
    background-size:none;
	}
	.text__header{
		    margin-top: 39px;
    width: 721px;
    line-height: 25px;
	}
	.feature__beautiful h2{
		text-align: center;
	}
	.line-2{
		margin: 32px auto;
	}
	.content-feature{
		margin-top: 65px;
    text-align: center;
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
	}
	.bottom__wrap-fetures{
		    text-align: left;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    margin-top: 129px;
    align-items: center;
    padding-bottom: 45px;
	}
	.features {
		margin-top: 50px;
	}
	.customize{
		padding-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 61px;
    text-align: center;
	}
	.line-customize{
		    width: 44px;
    height: 3px;
    background: #008ed6;
    /* padding-top: 42px; */
    margin: 42px auto;
	}
	.wrap__plan{
		    -moz-background-size:auto;
     -webkit-background-size:auto; 
    -o-background-size:auto;
     background-size:auto; 
    /* height: 100%; */
	}
	.like {
		display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
	}
	.btn-like{
		margin-top: 20px;
		
	}
	.plans_2{
		    padding-top: 70px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
	}
	.plans_content{
		    margin-top: 40px;
	}
	.plans_content_3{
		margin-top: 40px;
	}
	.form-contact{
		    margin: 0 auto;
    position: relative;
    bottom: -74px;
    left: -19px;
    background: #15141a;
    width: 771px;
    height: 300px;
    padding: 60px 85px 60px 85px;
	}
	.Ig-S li{
display: block;
    
    text-align: center;
	}
	.wrap__feature h1{
		    text-align: center;
	}
}