@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Condensed');
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	margin: 0;
	font-family:'PT Sans', 'Roboto Condensed', sans-serif;
	outline: none;
}

.main {
	color: #FFF;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    -webkit-align-items: center;
	            align-items: center;
	height: 100vh;
	min-height: 600px;
	background: url(../img/header.jpg) no-repeat center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.main-overlay, .call-to-action-overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	z-index: 0;
	background-image:-moz-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
	background-image:-webkit-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
	background-image:-ms-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
}
.header {
	font-size: 1.5em;
	width: 90%;
	height: 10vh;
	position: relative;
	-webkit-align-items: center;
	        align-items: center;
	z-index: 2;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	
	
}
.menu {
	width: 70%;
	
}

.menu ul  {
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	    list-style: none;
	
}
.menu-link {
	text-decoration: none;
	color: #FFF;
}
.get-started-btn {
	margin-left: 6rem;
	border: 1px solid #fff;
	padding: 11px 35px;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
	-webkit-transition: 	0.2s ease;
		   -moz-transition: 0.2s ease;
		    -ms-transition: 0.2s ease;
		     -o-transition: 0.2s ease;
		        transition: 0.2s ease;	
}
.get-started-btn:hover {
	background-color: #6e45e2;
	color: #FFF;
	cursor: pointer;
}
.main-text {
	font-size: 1.2em;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: center;
	            justify-content: center;
	    -webkit-align-items: center;
	            align-items: center;
	position: relative;
	z-index: 2;
	text-align: center;
}
.main-text span {
	display: inline-block;
}
.main-text h1 {
	margin: 0.5rem;
	font-size: 75px;
	
}
.main-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #FFF;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.main-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #FFF;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.main-arrow {
	position: relative;
	z-index: 2;
	height: 7vh;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	
}
.arrow-down{
	width: 55px;
	line-height: 55px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	text-align: center;
	color: #FFF;
	background-color: #FFF;
	box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.table {
	background-color: #f9fafc;
	height: 100%;
	width: 100%;
	min-height: 600px;
	font-family:'Roboto Condensed','PT Sans',  sans-serif;
	padding: 12rem;
}

.table-header{
	text-align: center;
	margin-bottom: 5rem;
	
}
 .table-header span {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #9fa4af;
	font-family:'PT Sans', 'Roboto Condensed', sans-serif;
	
}
.table-header span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.table-header span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.table-header p {
	font-size: 0.9rem;
	display: inline-block;
	width: 40rem;
	line-height: 1.4rem;
	color: #9fa4af;
}
.table-header h2 {
	color: #4f4f6f;
	font-size: 5rem;
	margin: 0;
	font-family:'Roboto Condensed','PT Sans',  sans-serif;
	
}
.price-list {
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	    -webkit-align-items: center;
	            align-items: center;
	    
}
.price-tag {
-webkit-transition: 0.8s ease;
	   -moz-transition: 0.8s ease;
	    -ms-transition: 0.8s ease;
	     -o-transition: 0.8s ease;
	        transition: 0.8s ease;
	background-color: #FFF;
	-webkit-border-radius: 2rem;
	        border-radius: 2rem;
	font-size: 1.3em;
	padding: 3rem;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	-webkit-align-items: center;
	        align-items: center;
	text-align: center;
	width: 27rem;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	border: 2px solid space-around;
	
}
.price-tag:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 81.88px 10.12px rgba(204,204,223,0.71);
	        box-shadow: 0px 0px 81.88px 10.12px rgba(204,204,223,0.71);

}
.price-tag span {
font-size: 1.1em;
margin: 3rem auto 1rem;
margin: 0;
}
.price-tag p {
	color: #9FA4AF;
}
.price-btn {
	background-color: #FFF;
	border: 1px solid #9fa4af;
	color: #9fa4af;
	font-size: 0.9em;
	font-weight: 300;
	padding: 1rem 2rem ;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
	-webkit-transition: 0.8s ease;
	   -moz-transition:  0.8s ease;
	    -ms-transition:  0.8s ease;
	     -o-transition:  0.8s ease;
	        transition:  0.8s ease;
	-webkit-box-shadow: 0px 0px 14.69px 2.31px rgba(204,204,223,0.5);
	        box-shadow: 0px 0px 14.69px 2.31px rgba(204,204,223,0.5);
}
.price-btn:hover {
	cursor: pointer;
background-color: #6E45E2;
color: #FFF;
}

.call-to-action {
	background: url(../img/footer-img.jpg);
	break-size: cover;
	text-align: center;
	position: relative;
	padding:15rem;
	color: #FFF;
	font-family:'Roboto Condensed','PT Sans',  sans-serif;
}
.call-to-action span {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 500;
	font-family:'Roboto Condensed','PT Sans',  sans-serif;
}
.call-to-action h4 {
	font-size: 3em;
	margin: 1rem auto 2rem;
	font-weight: 500;
	font-family:'Roboto Condensed','PT Sans',  sans-serif;
}
button{
	font-family: ;
	display: inline-block;
	border: none;
	background-color: #FFF;
	color: #c2c9db;
	width: 17rem;
	font-size: 1.3em;
	font-weight: 700;
	height: 5rem;
	margin: 1rem;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
	-webkit-transition: 0.8s ease;
	   -moz-transition: 0.8s ease;
	    -ms-transition: 0.8s ease;
	     -o-transition: 0.8s ease;
	        transition: 0.8s ease;
	        font-family:'Roboto Condensed','PT Sans',  sans-serif;
}
button:hover {
	background-color: #6e45e2;
	color: #FFF;
	cursor: pointer;
}
.wrap {
	position: relative;
	z-index: 2;
}
.footer-wrap {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	    
}
.footer {
	width: 90%;
	-webkit-align-items: center;
	        align-items: center;
	    height: 10vh;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.footer-menu ul{
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	    list-style: none;
	    
	    
}.footer-menu {
	width: 50%;
	    
}
.footer-menu-link {
	font-size: 1.3em;
	text-decoration: none;
	color: #6a6a77;
	font-weight: 500;
}
.footer-get-started {
	margin-left: 6rem;
	border: 1px solid #fff;
	color: #FFF;
    background-color: #6e45e2;
	padding: 11px 35px;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
}
.line {
	display: block;
	width: 90%;
	height: 1px;
	background-color: #333;
	margin: 1rem auto;
}
.legal {
	
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	padding-left: 5%;
	padding-right: 5%;
}
.copy {
	font-size: 1.4rem;
	color: #6a6a77;
	
}
.social-links a {
	color: #6a6a77;
	font-size: 1.4rem;
	display: inline-block;
	margin-left: 1rem;
	
}
.m-menu-link {
	display: none;
	color: #FFF;
	font-size: 3rem;
}
.m-menu{
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	text-align: center;
	list-style: none;
	font-size: 3rem;
	line-height: 3;
	background-color: #6e45e2;
	z-index: 9999;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-transform: translateX(100%);
	   -moz-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	     -o-transform: translateX(100%);
	        transform: translateX(100%);
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.m-menu__active {
	transform: translateX(0%);
}
.close-menu {
	position: fixed;
	right: 5rem;
	top: 5rem;
	font-size: 5rem;
	font-weight: 900;
	color: #FFF;
}
.close-menu:hover {
	cursor: pointer;
}